<div class="row">
  <div class="col-sm-6">
    <form [formGroup]="addPaymentForm" (ngSubmit)="onSubmit()" role="form">
      <div class="card">
        <div class="card-header">
          <!--  -->
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="sum">{{ 'payment.sum' | translate}}</label>
            <input formControlName="sum" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.sum.errors, 'is-valid': submitted && !f.sum.errors}" id="sum"
              type="text" placeholder="{{ 'placeholder.payment.sum' | translate}}">
            <div *ngIf="submitted && f.sum.errors && f.sum.errors.required" class="invalid-feedback">
              {{'payment.error.sum.required' | translate}}</div>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
            {{ 'payment.submit' | translate}}</button>
          <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset"> {{ 'payment.reset' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
