<form [formGroup]="addDebtorForm" (ngSubmit)="onSubmit()" role="form">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"><strong>{{company_name}}</strong><small> -{{ 'debtor.basic_data' | translate}}</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="company">{{ 'debtor.company' | translate}}</label>
            <input formControlName="company" autocomplete="organization" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.company.errors, 'is-valid': submitted && !f.company.errors}"
              id="company" type="text" placeholder="{{ 'placeholder.debtor.company' | translate}}"
              (change)="changedCompanyName()">
            <div *ngIf="submitted && f.company.errors && f.company.errors.required" class="invalid-feedback">
              {{'debtor.error.company.required' | translate}}</div>
          </div>
          <div class="form-group">
            <label for="reg_number">{{ 'debtor.reg_number' | translate}}</label>
            <input formControlName="reg_number" autocomplete="off" class="form-control" id="reg_number" type="text"
              [ngClass]="{'is-invalid': submitted && f.reg_number.errors, 'is-valid': submitted && !f.reg_number.errors}"
              placeholder="{{ 'placeholder.debtor.reg_number' | translate}}">
            <div *ngIf="submitted && f.reg_number.errors && f.reg_number.errors.required" class="invalid-feedback">
              {{'debtor.error.reg_number.required' | translate}}</div>
          </div>
          <div class="form-group">
            <label for="debt">{{ 'debtor.debt' | translate}}</label>
            <div class="input-group">
              <input currencyMask formControlName="debt" autocomplete="off" class="form-control" id="debt" type="text"
                [ngClass]="{'is-invalid': submitted && f.debt.errors, 'is-valid': submitted && !f.debt.errors}"
                placeholder="{{ 'placeholder.debtor.debt' | translate}}">
              <div class="input-group-append"><span class="input-group-text">€</span></div>
              <div *ngIf="submitted && f.debt.errors && f.debt.errors.required" class="invalid-feedback">
                {{'debtor.error.debt.required' | translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"><strong>{{company_name}}</strong><small>
            -{{ 'debtor.legal_address' | translate}}</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="legal_address">{{ 'debtor.legal_address' | translate}}</label>
            <input formControlName="legal_address" autocomplete="address-level1" class="form-control" id="legal_address"
              type="text" placeholder="{{ 'placeholder.debtor.legal_address' | translate}}">
          </div>
          <div class="row">
            <div class="form-group col-sm-8">
              <label for="city">{{ 'debtor.city' | translate}}</label>
              <input formControlName="city" class="form-control" id="city" type="text"
                placeholder="{{ 'placeholder.debtor.city' | translate}}">
            </div>
            <div class="form-group col-sm-4">
              <label for="postal_code">{{ 'debtor.postal_code' | translate}}</label>
              <input formControlName="postal_code" autocomplete="postal-code" class="form-control" id="postal_code"
                type="text" placeholder="{{ 'placeholder.debtor.postal_code' | translate}}">
            </div>
          </div>
          <div class="form-group">
            <label for="country">{{ 'debtor.country' | translate}}</label>
            <input formControlName="country" autocomplete="country-name" class="form-control" id="country" type="text"
              placeholder="{{ 'placeholder.debtor.country' | translate}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"><strong>{{company_name}}</strong><small> -{{ 'debtor.contact' | translate}}</small>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="phone">{{ 'debtor.phone' | translate}}</label>
            <input formControlName="phone" class="form-control" id="phone" type="text"
              placeholder="{{ 'placeholder.debtor.phone' | translate}}">
          </div>
          <div class="form-group">
            <label for="fax">{{ 'debtor.fax' | translate}}</label>
            <input formControlName="fax" class="form-control" id="fax" type="text"
              placeholder="{{ 'placeholder.debtor.fax' | translate}}">
          </div>
          <div class="form-group">
            <label for="email">{{ 'debtor.email' | translate}}</label>
            <input formControlName="email" class="form-control" id="email" type="text"
              placeholder="{{ 'placeholder.debtor.email' | translate}}">
          </div>
          <div class="form-group">
            <label for="homepage">{{ 'debtor.homepage' | translate}}</label>
            <input formControlName="homepage" class="form-control" id="homepage" type="text"
              placeholder="{{ 'placeholder.debtor.homepage' | translate}}">
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-header"><strong>{{company_name}}</strong><small>
            -{{ 'debtor.banking_information' | translate}}</small></div>
        <div class="card-body">
          <div class="form-group">
            <label for="bank">{{ 'debtor.bank_name' | translate}}</label>
            <input formControlName="bank_name" class="form-control" id="bank" type="text"
              placeholder="{{ 'placeholder.debtor.bank_name' | translate}}">
          </div>
          <div class="form-group">
            <label for="bank_account_number">{{ 'debtor.bank_account_number' | translate}}</label>
            <input formControlName="bank_account_number" class="form-control" id="bank_account_number" type="text"
              placeholder="{{ 'placeholder.debtor.bank_account_number' | translate}}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><strong>{{company_name}}</strong><small> -{{ 'debtor.add_info' | translate}}</small>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="status">{{ 'debtor.status' | translate}}</label>

            <div class="col-md-9">
              <select formControlName="status" class="form-control"
              [ngClass]="{'is-invalid': submitted && f.status.errors, 'is-valid': submitted && !f.status.errors}"
              id="status" name="status">
                <option [ngValue]="null" disabled>{{'select.status' | translate}}</option>
                <option [value]="status" *ngFor="let status of debtorStatus | enumToArray">
                  {{ 'status.long.'+status | translate}}
                </option>
              </select>
              <div *ngIf="submitted && f.status.errors && f.status.errors.required" class="invalid-feedback">
                {{'debtor.error.status.required' | translate}}</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="note">{{ 'debtor.notes' | translate}}</label>
            <div class="col-md-9">
              <textarea formControlName="note" class="form-control" id="note" name="note" rows="9"
                placeholder="{{ 'placeholder.debtor.note' | translate}}"
                style="margin-top: 0px; margin-bottom: 0px; height: 97px;"></textarea>
            </div>
          </div>

          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              {{ 'debtor.submit_debtor' | translate}}</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset"> {{ 'debtor.reset_debtor' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
