<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -Basic data</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">Company</label>
          <input [(ngModel)]="company" class="form-control" id="company" type="text"
            placeholder="Enter your company name" (ngModelChange)="companyNameChanged($event)">
        </div>
        <div class="form-group">
          <label for="vat">VAT</label>
          <input class="form-control" id="vat" type="text" placeholder="LV1234567890">
        </div>
        <div class="form-group">
          <label for="debt">Debt</label>
          <input class="form-control" id="debt" type="text" placeholder="100.000,00">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -Addresse</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="street">Street</label>
          <input class="form-control" id="street" type="text" placeholder="Enter street name">
        </div>
        <div class="row">
          <div class="form-group col-sm-8">
            <label for="city">City</label>
            <input class="form-control" id="city" type="text" placeholder="Enter your city">
          </div>
          <div class="form-group col-sm-4">
            <label for="postal-code">Postal Code</label>
            <input class="form-control" id="postal-code" type="text" placeholder="Postal Code">
          </div>
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input class="form-control" id="country" type="text" placeholder="Country name">
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -Kontakt</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input class="form-control" id="phone" type="text" placeholder="Enter company phone">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" type="text" placeholder="Enter company email">
        </div>
        <div class="form-group">
          <label for="fax">Fax</label>
          <input class="form-control" id="fax" type="text" placeholder="Enter company fax">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -Banking information</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="bank">Name of bank</label>
          <input class="form-control" id="bank" type="text" placeholder="Enter bank name">
        </div>
        <div class="form-group">
          <label for="iban">IBAN</label>
          <input class="form-control" id="iban" type="text" placeholder="Enter IBAN">
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -Status and Info</small></div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="status">Status</label>
          <div class="col-md-9">
            <select class="form-control" id="status" name="status" (change)="statusChanged($event.target.value)">
              <option value="0">{{'select.status' | translate}}</option>
              <option [value]="status" *ngFor="let status of all_statuses">
                {{ 'status.'+status | translate}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="note">Note</label>
          <div class="col-md-9">
            <textarea class="form-control" id="note" name="note" rows="9" placeholder="Note..."
              style="margin-top: 0px; margin-bottom: 0px; height: 97px;"></textarea>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"> Submit</button>
          <button class="btn btn-sm btn-warning" type="reset"> Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>
