<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -{{ 'debtor.basic_data' | translate}}</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="company">{{ 'debtor.company' | translate}}</label>
          <input [(ngModel)]="company" class="form-control" id="company" type="text"
            placeholder="{{ 'placeholder.debtor.company' | translate}}" (ngModelChange)="companyNameChanged($event)">
        </div>
        <div class="form-group">
          <label for="reg_number">{{ 'debtor.reg_number' | translate}}</label>
          <input class="form-control" id="reg_number" type="text" placeholder="{{ 'placeholder.debtor.reg_number' | translate}}">
        </div>
        <div class="form-group">
          <label for="debt">{{ 'debtor.debt' | translate}}</label>
          <div class="input-group">
            <input class="form-control" id="debt" type="text" placeholder="{{ 'placeholder.debtor.debt' | translate}}">
            <div class="input-group-append"><span class="input-group-text">€</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -{{ 'debtor.legal_address' | translate}}</small>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="address">{{ 'debtor.legal_address' | translate}}</label>
          <input class="form-control" id="address" type="text" placeholder="{{ 'placeholder.debtor.address' | translate}}">
        </div>
        <div class="row">
          <div class="form-group col-sm-8">
            <label for="city">{{ 'debtor.city' | translate}}</label>
            <input class="form-control" id="city" type="text" placeholder="{{ 'placeholder.debtor.city' | translate}}">
          </div>
          <div class="form-group col-sm-4">
            <label for="postal_code">{{ 'debtor.postal_code' | translate}}</label>
            <input class="form-control" id="postal_code" type="text" placeholder="{{ 'placeholder.debtor.postal_code' | translate}}">
          </div>
        </div>
        <div class="form-group">
          <label for="country">{{ 'debtor.country' | translate}}</label>
          <input class="form-control" id="country" type="text" placeholder="{{ 'placeholder.debtor.country' | translate}}">
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -{{ 'debtor.contact' | translate}}</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="phone">{{ 'debtor.phone' | translate}}</label>
          <input class="form-control" id="phone" type="text" placeholder="{{ 'placeholder.debtor.phone' | translate}}">
        </div>
        <div class="form-group">
          <label for="fax">{{ 'debtor.fax' | translate}}</label>
          <input class="form-control" id="fax" type="text" placeholder="{{ 'placeholder.debtor.fax' | translate}}">
        </div>
        <div class="form-group">
          <label for="email">{{ 'debtor.email' | translate}}</label>
          <input class="form-control" id="email" type="text" placeholder="{{ 'placeholder.debtor.email' | translate}}">
        </div>
        <div class="form-group">
          <label for="homepage">{{ 'debtor.homepage' | translate}}</label>
          <input class="form-control" id="homepage" type="text" placeholder="{{ 'placeholder.debtor.homepage' | translate}}">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small>
          -{{ 'debtor.banking_information' | translate}}</small></div>
      <div class="card-body">
        <div class="form-group">
          <label for="bank">{{ 'debtor.bank_name' | translate}}</label>
          <input class="form-control" id="bank" type="text" placeholder="{{ 'placeholder.debtor.bank_name' | translate}}">
        </div>
        <div class="form-group">
          <label for="bank_account_number">{{ 'debtor.bank_account_number' | translate}}</label>
          <input class="form-control" id="bank_account_number" type="text" placeholder="{{ 'placeholder.debtor.bank_account_number' | translate}}">
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header"><strong>{{company}}</strong><small> -{{ 'debtor.add_info' | translate}}</small></div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="status">{{ 'debtor.status' | translate}}</label>
          <div class="col-md-9">
            <select class="form-control" id="status" name="status" (change)="statusChanged($event.target.value)">
              <option value="0">{{'select.status' | translate}}</option>
              <option [value]="status" *ngFor="let status of all_statuses">
                {{ 'status.'+status | translate}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="note">{{ 'debtor.notes' | translate}}</label>
          <div class="col-md-9">
            <textarea class="form-control" id="note" name="note" rows="9" placeholder="{{ 'placeholder.debtor.note' | translate}}"
              style="margin-top: 0px; margin-bottom: 0px; height: 97px;"></textarea>
          </div>
        </div>

        <div class="card-footer">
          <button class="btn btn-sm btn-primary" type="submit"> {{ 'debtor.submit_debtor' | translate}}</button>
          <button class="btn btn-sm btn-warning" type="reset"> {{ 'debtor.reset_debtor' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
