<div class="app-body padding_top">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" role="form">
            <div class="card mx-4">
              <div class="card-body p-4">

                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <!-- username -->
                <small *ngIf="submitted && f.username.errors" class="text-danger">
                  <div *ngIf="f.username.errors.required">
                    Username is required
                  </div>
                  <div *ngIf="f.username.errors.minlength">
                    Username is too short
                  </div>
                  <div *ngIf="f.username.errors.maxlength">
                    Username is too long
                  </div>
                </small>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.username.errors, 'is-valid': submitted && !f.username.errors}"
                    placeholder="Username" autocomplete="username" formControlName="username">
                </div>
                <!--email -->
                <small *ngIf="submitted && f.email.errors" class="text-danger">
                  <div *ngIf="f.email.errors.required">
                    Email is required
                  </div>
                  <div *ngIf="f.email.errors.email">
                    Email is not valid
                  </div>
                </small>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.email.errors, 'is-valid': submitted && !f.email.errors}"
                    placeholder="Email" autocomplete="email" formControlName="email">
                </div>
                <!-- password -->
                <small *ngIf="submitted && f.password.errors" class="text-danger">
                  <div *ngIf="f.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="f.password.errors.minlength">
                    Password is too short
                  </div>
                  <div *ngIf="f.password.errors.maxlength">
                    Password is too long
                  </div>
                </small>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" [ngClass]="{'is-invalid': submitted && f.password.errors, 'is-valid': submitted && !f.password.errors}" placeholder="Password" autocomplete="new-password"
                    formControlName="password">
                </div>
                <!-- repeat password -->
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password"
                    formControlName="password_confirmation">
                </div>
                <!-- submit -->
                <button [disabled]="loading" type="submit" class="btn btn-block btn-success">Create Account</button>

              </div>
              <!--agree -->
              <div class="card-footer p-4">
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" formControlName="agree" id="invalidCheck">
                    <label class="form-check-label form-control" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
