<div class="animated fadeIn">
  <!-- add & edit payments -->
  <form [formGroup]="addEditPaymentForm" role="form">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i [ngClass]="{'to-delete': invoice.toDelete}" class="fa fa-calculator fa-2x" aria-hidden="true"></i>
            <span [ngClass]="{'to-delete': invoice.toDelete}">Payments ({{payments.length}}) </span>
            <!-- add Payment -->
            <span class="float-right">
              <button [ngClass]="{'to-delete': invoice.toDelete}" [disabled]="loading || isAddPayment() || isEditMode"
                class="btn" (click)="addPayment()">
                <i class="fa fa-plus" aria-hidden="true"></i> Payment
              </button>
            </span>
          </div>
          <div class="card-body">
            <table class="table table-responsive-sm table-sm">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Date</th>
                  <th>Sum</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <!-- add new payment -->
                <tr *ngIf="isAddPayment()">
                  <td>
                    <!-- buttons saved -->
                    <button [disabled]="loading" class="btn" (click)="savePayment()">
                      <i class="fa fa-save" aria-hidden="true"></i>Save
                    </button></td>
                  <td>
                  <td>
                    <!-- button cancel  -->
                    <button [disabled]="loading" class="btn" (click)="cancelAddPayment()">
                      <i class="fa fa-times" aria-hidden="true"></i>Cancel
                    </button>
                  </td>
                  <!-- date -->
                  <td>
                    <input id="date" class="form-control" bsDatepicker formControlName="date" placement="auto"
                      autocomplete="off" placeholder="{{ 'placeholder.payment.date' | translate}}"
                      [ngClass]="{'is-invalid': submitted && f.date.errors, 'is-valid': submitted && !f.date.errors}"
                      [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                    <div *ngIf="submitted && f.date.errors && f.date.errors.required" class="invalid-feedback">
                      {{'payment.error.date.required' | translate}}</div>
                  </td>
                  <!-- sum -->
                  <td>
                    <div class="input-group">
                      <input id="sum" formControlName="sum" autocomplete="off" class="form-control" type="text"
                        [ngClass]="{'is-invalid': submitted && f.sum.errors, 'is-valid': submitted && !f.sum.errors}"
                        placeholder="{{ 'placeholder.payment.sum' | translate}}" currencyMask>
                      <div class="input-group-append"><span class="input-group-text">€</span></div>
                      <div *ngIf="submitted && f.sum.errors && f.sum.errors.required" class="invalid-feedback">
                        {{'payment.error.sum.required' | translate}}</div>
                    </div>
                  </td>
                  <!-- status -->
                  <td>
                    <div class="input-group">
                      <select formControlName="status" class="form-control"
                        [ngClass]="{'is-invalid': submitted && f.status.errors, 'is-valid': submitted && !f.status.errors}"
                        id="status" name="status">
                        <option [ngValue]="null" disabled>{{'payment.select.status' | translate}}</option>
                        <option [value]="status" *ngFor="let status of paymentStatus | enumToArray">
                          {{ 'status.payment.'+status | translate}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.status.errors && f.status.errors.required" class="invalid-feedback">
                        {{'payment.error.status.required' | translate}}</div>
                    </div>
                  </td>
                </tr>
                <!-- foreach payments -->
                <ng-container *ngFor="let payment of payments">
                  <tr>
                    <!-- buttons edit & trash -->
                    <td *ngIf="isSaved(payment)" colspan="2">
                      <button [disabled]="loading || isAddPayment() || isEditMode" class="btn"
                        (click)="changeMode(payment)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit
                      </button>
                      <button [disabled]="loading || isAddPayment() || isEditMode" class="btn"
                        (click)="notifyDeletePayment(payment)">
                        <i class="fa fa-trash" aria-hidden="true"></i>Trash
                      </button>
                    </td>
                    <!-- button trash or cancel -->
                    <td *ngIf="isEditable(payment)" colspan="2">
                      <button [disabled]="loading || isAddPayment()" class="btn" (click)="changeMode(payment)">
                        <i class="fa fa-save" aria-hidden="true"></i>Save
                      </button>
                      <button [disabled]="loading" class="btn" (click)="cancelEdit()">
                        <i class="fa fa-times" aria-hidden="true"></i>Cancel
                      </button>
                    </td>
                    <!-- date -->
                    <td *ngIf="isSaved(payment)"
                      [ngClass]="{'to-delete': paymentToDelete && payment.id === paymentToDelete.id}">
                      {{payment.date | momentjs: 'YYYY. DD. MMMM'}}
                    </td>
                    <td *ngIf="isEditable(payment)">
                      <input id="date" class="form-control" bsDatepicker formControlName="date" placement="auto"
                        autocomplete="off" placeholder="{{ 'placeholder.payment.date' | translate}}"
                        [ngClass]="{'is-invalid': submitted && f.date.errors, 'is-valid': submitted && !f.date.errors}"
                        [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                      <div *ngIf="submitted && f.date.errors && f.date.errors.required" class="invalid-feedback">
                        {{'payment.error.date.required' | translate}}</div>
                    </td>
                    <!-- sum -->
                    <td *ngIf="isSaved(payment)"
                      [ngClass]="{'to-delete': paymentToDelete && payment.id === paymentToDelete.id}">{{payment.sum}}
                    </td>
                    <td *ngIf="isEditable(payment)">
                      <div class="input-group">
                        <input id="sum" formControlName="sum" autocomplete="off" class="form-control" type="text"
                          [ngClass]="{'is-invalid': submitted && f.sum.errors, 'is-valid': submitted && !f.sum.errors}"
                          placeholder="{{ 'placeholder.payment.sum' | translate}}" currencyMask>
                        <div class="input-group-append"><span class="input-group-text">€</span></div>
                        <div *ngIf="submitted && f.sum.errors && f.sum.errors.required" class="invalid-feedback">
                          {{'payment.error.sum.required' | translate}}</div>
                      </div>
                    </td>
                    <!-- status -->
                    <td *ngIf="isSaved(payment)"
                      [ngClass]="{'to-delete': paymentToDelete && payment.id === paymentToDelete.id}">{{payment.status}}
                    </td>
                    <td *ngIf="isEditable(payment)">
                      <div class="input-group">
                        <select formControlName="status" class="form-control"
                          [ngClass]="{'is-invalid': submitted && f.status.errors, 'is-valid': submitted && !f.status.errors}"
                          id="status" name="status">
                          <option [ngValue]="null" disabled>{{'payment.select.status' | translate}}</option>
                          <option [value]="status" *ngFor="let status of paymentStatus | enumToArray">
                            {{ 'status.payment.'+status | translate}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.status.errors && f.status.errors.required" class="invalid-feedback">
                          {{'payment.error.status.required' | translate}}</div>
                      </div>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
