<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i aria-hidden="true" class="toggle fa fa-2x" (click)="visibleList =!visibleList"
          [ngClass]="{'fa-expand': !visibleList,'fa-compress': visibleList}"></i>
        <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
        Invoices ({{invoicesList.length}})
        <span class="float-right">
          <button class="btn" [routerLink]="'/add/invoice'">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Invoice
          </button>
        </span>
      </div>
      <div class="card-body" *ngIf="visibleList" [@inOutAnimation]>
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Number</th>
              <th>Status</th>
              <th>Date</th>
              <th>Date to</th>
              <th>Amount- <br>
                Debt / Paid</th>
              <th>?Pay in days?</th>
              <th>Penalty (interest per day) -<br>
                Contractual (Current) / Paid</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let invoice of invoicesList">
              <tr>
                <td class="toggle" (click)="toggle(invoice.id)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !invoice.visible,'fa-compress': invoice.visible}"></i>
                </td>
                <td [ngClass]="{'to-delete': invoice.toDelete}">{{invoice.number}}</td>
                <td [ngClass]="{'to-delete': invoice.toDelete}"><i class="fa"
                    [ngClass]="{'fa-lock': isClosed(invoice), 'fa-unlock': !isClosed(invoice)}" aria-hidden="true"></i>
                </td>
                <td [ngClass]="{'to-delete': invoice.toDelete}">{{invoice.date | momentjs: 'YYYY. DD. MMMM'}}</td>
                <td [ngClass]="{'to-delete': invoice.toDelete}">{{invoice.date_to | momentjs: 'YYYY. DD. MMMM'}}</td>
                <td [ngClass]="{'to-delete': invoice.toDelete}">{{invoice.sum}}</td>
                <td [ngClass]="{'to-delete': invoice.toDelete}"> ?Pay in days?</td>
                <td [ngClass]="{'to-delete': invoice.toDelete}">Penalty (interest per day)-<br>
                  Contractual (Current) / Paid</td>
                <td [ngClass]="{'to-delete': invoice.toDelete}">{{invoice.note}}</td>
              </tr>
              <tr *ngIf="invoice.visible">
                <td class="no-top-border" colspan="11">
                  <button [disabled]="loading" class="btn" (click)="editInvoice(invoice)"><i
                      class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</button>
                  <button [disabled]="loading" class="btn" (click)="notifyDeleteInvoice(invoice)"><i class="fa fa-trash"
                      aria-hidden="true"></i>Trash</button>
                  <app-payments [invoice]="invoice"></app-payments>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <th colspan="4"></th>
              <th>Debt sum</th>
              <th>{{invoicesSum()}}</th>
              <th>Sum2</th>
              <th>Sum2 - value</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
