<div class="animated fadeIn">
  <!-- email is verified? -->
  <div class="app-body padding_top">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">

            <div class="card mx-4">
              <div class="card-body p-4">

                <h1 *ngIf="!isValidated && !isError">Email confirmation</h1>
                <p *ngIf="!isValidated && !isError" class="text-muted">We validate your email, one moment please!</p>

                <h1 *ngIf="isValidated" [@bgColorAnimation]>Email is verified</h1>
                <p *ngIf="isValidated" class="text-muted" [@bgColorAnimation]>Thank you for validation</p>

                <h1 *ngIf="isError" [@bgColorAnimation]>Error occurred</h1>
                <p *ngIf="isError" class="text-muted" [@bgColorAnimation]>The link is broken or the email address has
                  already been verified</p>

              </div>
              <div>

                <div class="row">
                  <div class="col-6"> </div>
                  <div class="col-6"><a [routerLink]="'/auth/login'">Go to login page</a></div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
  </div>
</div>
