.xxx {
  font-size: xxx-large;
}

.i18n_click:hover {
  cursor: pointer;
}

i.far,
i.fas {
  padding-left: 7px;
  font-size: 19px;
}

span.nav-padding-left {
  padding-left: 25px;
}

li.active {
  background-color: dimgray;
}
