<div class="animated fadeIn">
  <!-- edit document name -->
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="editDocumentForm" (ngSubmit)="onSubmit()" role="form">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-paperclip fa-rotate-270 fa-2x" aria-hidden="true"></i> Edit document details
            <span class="float-right">
              <a class="btn btn-default btn-sm" [routerLink]="'/debtor/contracts'">
                <i class="fa fa-chevron-left"></i> Return to Contracts</a>
            </span>
          </div>
          <!-- card body -->
          <div class="card-body">
            <div class="form-group row">

              <!-- document name -->
              <label class="col-md-3 col-form-label" for="byname">Document name</label>
              <div class="col-md-8">
                <input id="byname" formControlName="byname" type="text"
                  placeholder="{{'document.enter.byname' | translate}}" autocomplete="name" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.byname.errors, 'is-valid': submitted && !f.byname.errors}">
                <div *ngIf="submitted && f.byname.errors && f.byname.errors.required"
                  class="invalid-feedback">
                  {{'document.error.byname.required' | translate}}</div>
                <div *ngIf="submitted && f.byname.errors && f.byname.errors.minlength"
                  class="invalid-feedback">
                  {{'document.error.byname.minlength' | translate}}</div>
                <div *ngIf="submitted && f.byname.errors && f.byname.errors.maxlength"
                  class="invalid-feedback">
                  {{'document.error.byname.maxlength' | translate}}</div>
              </div>

            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Update</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
