.to-delete {
  color: #f1060696;
}

.no-top-border {
  border-top: none;
}

// TODO: class & subclass
.remind-success:before {
  content: '\25CF';
  padding-left: 5px;
  font-size: large;
  color: #cdedd8;
}

.remind-info:before {
  content: '\25CF';
  padding-left: 5px;
  font-size: large;
  color: #1e90ff;
}

.remind-warning:before {
  content: '\25CF';
  padding-left: 5px;
  font-size: large;
  color: #e3bc08;
}

.remind-important::before {
  content: '\25CF';
  padding-left: 5px;
  font-size: large;
  color: #ad2121;
}
