<!-- add new calendar task: -->
<div *ngIf="addMode" class="row">
  <div class="col-lg-11">
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" role="form">
      <div class="card">
        <div class="card-header"><strong><i class="cui-note icons font-2xl d-block mt-4"></i>Task details</strong>
          <small></small>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="taskDate">Date of the new task</label>
            <div class="col-md-8">
              <input id="taskDate" class="form-control" bsDatepicker formControlName="taskDate" placement="auto"
                placeholder="{{ 'placeholder.task.date' | translate}}"
                [ngClass]="{'is-invalid': submitted && f.taskDate.errors, 'is-valid': submitted && !f.taskDate.errors}"
                [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
              <div *ngIf="submitted && f.taskDate.errors && f.taskDate.errors.required" class="invalid-feedback">
                {{'template.error.taskDate.required' | translate}}</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="taskNote">New task note</label>
            <div class="col-md-8">
              <textarea formControlName="taskNote" class="form-control" id="taskNote" name="taskNote" rows="9"
                placeholder="{{ 'placeholder.task.note' | translate}}"
                style="margin-top: 0px; margin-bottom: 0px; height: 97px;"
                [ngClass]="{'is-invalid': submitted && f.taskNote.errors, 'is-valid': submitted && !f.taskNote.errors}">
              </textarea>
              <div *ngIf="submitted && f.taskNote.errors && f.taskNote.errors.required" class="invalid-feedback">
                {{'template.error.taskNote.required' | translate}}</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="createReminder">Create reminder</label>
            <div class="col-md-8">
              <label class="switch switch-3d switch-secondary switch-lg">
                <input id="createReminder" type="checkbox" class="switch-input" (change)="changedCreateReminder()">
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>

          <div *ngIf="isCreateReminder" class="form-group row">
            <label class="col-md-3 col-form-label" for="reminderDate">Date of reminder</label>
            <div class="col-md-8">
              <input id="reminderDate" class="form-control" bsDatepicker formControlName="reminderDate" placement="auto"
                placeholder="{{ 'placeholder.task.date' | translate}}"
                [ngClass]="{'is-invalid': submitted && f.reminderDate.errors, 'is-valid': submitted && !f.reminderDate.errors}"
                [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue', minDate: today }">
              <div *ngIf="submitted && f.reminderDate.errors && f.reminderDate.errors.required"
                class="invalid-feedback">
                {{'template.error.reminderDate.required' | translate}}</div>
            </div>
          </div>

          <div *ngIf="isCreateReminder" class="form-group row">
            <label class="col-md-3 col-form-label" for="reminderNote">Reminder note</label>
            <div class="col-md-8">
              <textarea formControlName="reminderNote" class="form-control" id="reminderNote" name="reminderNote"
                rows="9" placeholder="{{ 'placeholder.task.note' | translate}}"
                style="margin-top: 0px; margin-bottom: 0px; height: 97px;"
                [ngClass]="{'is-invalid': submitted && f.reminderNote.errors, 'is-valid': submitted && !f.reminderNote.errors}">
              </textarea>
              <div *ngIf="submitted && f.reminderNote.errors && f.reminderNote.errors.required"
                class="invalid-feedback">
                {{'template.error.reminderNote.required' | translate}}</div>
            </div>
          </div>

          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Create</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
<!-- show calendar tasks: -->
<div *ngIf="!addMode" class="row">
  <div class="col-lg-12">
    <div class="card">
      <!-- card header -->
      <div class="card-header">
        <i class="fa fa-tasks fa-2x" aria-hidden="true"></i> Tasks (%count all|
        active%)
        <span class="float-right">
          <button class="btn" (click)="addTask()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Task
          </button>
        </span>
      </div>
      <!-- card body -->


      <div class="card-body">
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Task</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let calendar of calendarList; let i = index">
              <tr>
                <td *ngIf="calendar.remind_date" class="toggle"
                  (click)="toggle(calendarList, i); isTemplateCollapsed = true">
                  <i aria-hidden="true" class="fa" [ngClass]="{
                      'fa-expand': !calendar.visible,
                      'fa-compress': calendar.visible
                    }"></i>
                </td>
                <td *ngIf="!calendar.remind_date"></td>

                <td>{{calendar.date | date: 'y. d MMMM':'IST':'lv'}}</td>
                <td>{{calendar.note}}</td>
                <td><button class="btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
                  <button class="btn"><i class="fa fa-trash" aria-hidden="true"></i> Trash</button></td>
              </tr>
              <!-- reminds details -->
              <tr class="d-none row-num-{{ i }}">
                <td *ngIf="calendar.visible" colspan="3">
                  <!-- [ngClass]="{'border-danger': calendar.remind_status.toString() === 'important', 'border-info': calendar.remind_status.toString() === 'unimportant', 'border-warning': calendar.remind_status.toString() === 'regular'}"> -->
                  <!-- <div class="card"> -->
                    <!-- the task at {{calendar.remind_date | date: 'y. d MMMM':'IST':'lv'}} is {{calendar.remind_status}} -->
                    <!-- <div class="card-header">
                      <div class="card-header-actions" style="height: 21px;">
                        <label class="switch switch-sm switch-label switch-info">
                          <input type="checkbox" class="switch-input" [checked]="calendar.remind_done == '0'"
                            [(ngModel)]="calendar.isChecked" (change)="onChecked(calendar)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </div>
                    </div> -->
                    <!-- <div class="card-body"> -->
                      <alert [type]="'info'" [dismissible]="false">{{ calendar.remind_note }}</alert>
                    <!-- </div> -->
                  <!-- </div> -->
                </td>
                <td>
                  <button class="btn"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Check</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
