<!-- add new calendar task: -->
<div *ngIf="addMode" class="row">
  <div class="col-lg-11">
    <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" role="form">
      <div class="card">
        <div class="card-header"><strong><i class="cui-note icons font-2xl d-block mt-4"></i>Task details</strong>
          <small></small>
        </div>
        <div class="card-body">

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="newTaskDate">Date of the new task</label>
            <div class="col-md-8">
              <input id="newTaskDate" class="form-control" bsDatepicker formControlName="newTaskDate" placement="auto"
                [ngClass]="{'is-invalid': submitted && f.newTaskDate.errors, 'is-valid': submitted && !f.newTaskDate.errors}"
                [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
              <div *ngIf="submitted && f.newTaskDate.errors && f.newTaskDate.errors.required" class="invalid-feedback">
                {{'template.error.newTaskDate.required' | translate}}</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="newTaskNote">New task note</label>
            <div class="col-md-8">
              <textarea formControlName="newTaskNote" class="form-control" id="newTaskNote" name="newTaskNote" rows="9"
                placeholder="{{ 'placeholder.task.note' | translate}}"
                style="margin-top: 0px; margin-bottom: 0px; height: 97px;"
                [ngClass]="{'is-invalid': submitted && f.newTaskNote.errors, 'is-valid': submitted && !f.newTaskNote.errors}">
              </textarea>
              <div *ngIf="submitted && f.newTaskNote.errors && f.newTaskNote.errors.required" class="invalid-feedback">
                {{'template.error.newTaskNote.required' | translate}}</div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="createRemind">Create reminder</label>
            <div class="col-md-8">
              <label class="switch switch-3d switch-secondary switch-lg">
                <input id="createRemind" type="checkbox" class="switch-input">
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>

          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Create</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
<!-- show calendar tasks: -->
<div *ngIf="!addMode" class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-tasks fa-2x" aria-hidden="true"></i> Tasks (%count all|
        active%)
        <span class="float-right">
          <button class="btn" (click)="addTask()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add Task
          </button>
        </span>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Date</th>
              <th>Task</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let calendar of calendarList; let i = index">
              <tr>
                <td *ngIf="calendar.remind_date" class="toggle"
                  (click)="toggle(calendarList, i); isTemplateCollapsed = true">
                  <i aria-hidden="true" class="fa" [ngClass]="{
                      'fa-expand': !calendar.visible,
                      'fa-compress': calendar.visible
                    }"></i>
                </td>
                <td *ngIf="!calendar.remind_date"></td>

                <td>{{calendar.date | date: 'y. d MMMM':'IST':'lv'}}</td>
                <td>{{calendar.note}}</td>
                <td><button class="btn"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  <button class="btn"><i class="fa fa-trash"></i> Trash</button></td>
              </tr>
              <tr class="d-none row-num-{{ i }}">
                <td *ngIf="calendar.visible" colspan="4">
                  <div class="card"
                    [ngClass]="{'border-danger': calendar.remind_status.toString() === 'important', 'border-info': calendar.remind_status.toString() === 'unimportant', 'border-warning': calendar.remind_status.toString() === 'regular'}">
                    <div class="card-header">
                      the task at {{calendar.remind_date | date: 'y. d MMMM':'IST':'lv'}} is {{calendar.remind_status}}
                      <div class="card-header-actions" style="height: 21px;">
                        <label class="switch switch-sm switch-label switch-info">
                          <input type="checkbox" class="switch-input" [checked]="calendar.remind_done == 0"
                            [(ngModel)]="calendar.isChecked" (change)="onChecked(calendar)">
                          <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </label>
                      </div>
                    </div>
                    <div class="card-body">
                      {{calendar.remind_note}}
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
