<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i> Reminders calendar
        (?length of reminds?)
        <span class="float-right">
          {{selectedMonth.format('MMMM YYYY')}}

          <button class="btn" (click)="prevMonth()">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </button>
          <button class="btn" (click)="nextMonth()">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div id="calendar" class="cal-context" style="width: 100%;">
    <!-- name days of week -->
    <div class="cal-row-fluid cal-row-head">
      <div class="cal-cell1">Понедельник</div>
      <div class="cal-cell1">Вторник</div>
      <div class="cal-cell1">Среда</div>
      <div class="cal-cell1">Четверг</div>
      <div class="cal-cell1">Пятница</div>
      <div class="cal-cell1">Суббота</div>
      <div class="cal-cell1">Воскресенье</div>
    </div>

    <!-- month box -->
    <div class="cal-month-box">

      <div class="cal-row-fluid cal-before-eventlist" *ngFor="let week of calendarMonth.weeks">
        <ng-container *ngFor="let day of week">
          <div class="cal-cell1 cal-cell" data-cal-row="-day1">
            <div [ngClass]="{
              'cal-day-outmonth': !isDayOfThisMonth(calendarMonth, day),
              'is-today': day.today,
              'cal-day-weekend': isWeekend(day)
            }"
              class="cal-month-day cal-month-first-row" (click)=" selectDate(day)">
              <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title=""
                data-original-title="">{{day.mDate.date()}}</span>

            </div>
          </div>
        </ng-container>


      </div>

      <div class="cal-row-fluid cal-before-eventlist">
        <div class="cal-cell1 cal-cell" data-cal-row="-day1">
          <div class="cal-month-day cal-day-outmonth cal-month-first-row">
            <span class="pull-right" data-cal-date="2013-02-25" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">25</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day2">
          <div class="cal-month-day cal-day-outmonth cal-month-first-row">
            <span class="pull-right" data-cal-date="2013-02-26" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">26</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day3">
          <div class="cal-month-day cal-day-outmonth cal-month-first-row">
            <span class="pull-right" data-cal-date="2013-02-27" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">27</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day4">
          <div class="cal-month-day cal-day-outmonth cal-month-first-row">
            <span class="pull-right" data-cal-date="2013-02-28" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">28</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day5">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-01" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">1</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day6">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-02" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">2</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day7">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-03" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">3</span>

          </div>
        </div>
      </div>


      <div class="cal-row-fluid cal-before-eventlist">
        <div class="cal-cell1 cal-cell" data-cal-row="-day1">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-04" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">4</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day2">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-05" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">5</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day3">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-06" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">6</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day4">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-07" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">7</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day5">
          <div class="cal-month-day cal-day-inmonth cal-day-holiday">
            <span class="pull-right" data-cal-date="2013-03-08" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="Международный женский день">8</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day6">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-09" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">9</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day7">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-10" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">10</span>

            <div class="events-list" data-cal-start="1362866400000" data-cal-end="1362952800000">

              <a href="http://www.example.com/" data-event-id="293" data-event-class="event-warning"
                class="pull-left event event-warning" data-toggle="tooltip" title=""
                data-original-title="This is warning class event with very long title to check how it fits to evet in day view"></a>

            </div>

          </div>
        </div>
      </div>


      <div class="cal-row-fluid cal-before-eventlist">
        <div class="cal-cell1 cal-cell" data-cal-row="-day1">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-11" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">11</span>

            <div class="events-list" data-cal-start="1362952800000" data-cal-end="1363039200000">

              <a href="http://www.example.com/" data-event-id="293" data-event-class="event-warning"
                class="pull-left event event-warning" data-toggle="tooltip" title=""
                data-original-title="This is warning class event with very long title to check how it fits to evet in day view"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day2">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-12" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">12</span>

            <div class="events-list" data-cal-start="1363039200000" data-cal-end="1363125600000">

              <a href="http://www.example.com/" data-event-id="293" data-event-class="event-warning"
                class="pull-left event event-warning" data-toggle="tooltip" title=""
                data-original-title="This is warning class event with very long title to check how it fits to evet in day view"></a>

              <a href="http://www.example.com/" data-event-id="294" data-event-class="event-info"
                class="pull-left event event-info" data-toggle="tooltip" title=""
                data-original-title="This is information class "></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day3">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-13" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">13</span>

            <div class="events-list" data-cal-start="1363125600000" data-cal-end="1363212000000">

              <a href="http://www.example.com/" data-event-id="293" data-event-class="event-warning"
                class="pull-left event event-warning" data-toggle="tooltip" title=""
                data-original-title="This is warning class event with very long title to check how it fits to evet in day view"></a>

              <a href="http://www.example.com/" data-event-id="294" data-event-class="event-info"
                class="pull-left event event-info" data-toggle="tooltip" title=""
                data-original-title="This is information class "></a>

              <a href="http://www.example.com/" data-event-id="256" data-event-class="event-warning"
                class="pull-left event event-warning" data-toggle="tooltip" title=""
                data-original-title="Event that ends on timeline"></a>

              <a href="http://www.example.com/" data-event-id="548" data-event-class="event-special"
                class="pull-left event event-special" data-toggle="tooltip" title=""
                data-original-title="This is special event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day4">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-14" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">14</span>

            <div class="events-list" data-cal-start="1363212000000" data-cal-end="1363298400000">

              <a href="http://www.example.com/" data-event-id="294" data-event-class="event-info"
                class="pull-left event event-info" data-toggle="tooltip" title=""
                data-original-title="This is information class "></a>

              <a href="http://www.example.com/" data-event-id="256" data-event-class="event-warning"
                class="pull-left event event-warning" data-toggle="tooltip" title=""
                data-original-title="Event that ends on timeline"></a>

              <a href="http://www.example.com/" data-event-id="548" data-event-class="event-special"
                class="pull-left event event-special" data-toggle="tooltip" title=""
                data-original-title="This is special event"></a>

              <a href="http://www.example.com/" data-event-id="297" data-event-class="event-success"
                class="pull-left event event-success" data-toggle="tooltip" title=""
                data-original-title="This is success event"></a>

              <a href="http://www.example.com/" data-event-id="276" data-event-class="event-success"
                class="pull-left event event-success" data-toggle="tooltip" title=""
                data-original-title="Short day event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day5">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-15" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">15</span>

            <div class="events-list" data-cal-start="1363298400000" data-cal-end="1363384800000">

              <a href="http://www.example.com/" data-event-id="548" data-event-class="event-special"
                class="pull-left event event-special" data-toggle="tooltip" title=""
                data-original-title="This is special event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day6">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-16" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">16</span>

            <div class="events-list" data-cal-start="1363384800000" data-cal-end="1363471200000">

              <a href="http://www.example.com/" data-event-id="548" data-event-class="event-special"
                class="pull-left event event-special" data-toggle="tooltip" title=""
                data-original-title="This is special event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day7">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-17" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">17</span>

            <div class="events-list" data-cal-start="1363471200000" data-cal-end="1363557600000">

              <a href="http://www.example.com/" data-event-id="548" data-event-class="event-special"
                class="pull-left event event-special" data-toggle="tooltip" title=""
                data-original-title="This is special event"></a>

            </div>

          </div>
        </div>
      </div>


      <div class="cal-row-fluid cal-before-eventlist">
        <div class="cal-cell1 cal-cell" data-cal-row="-day1">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-18" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">18</span>

            <div class="events-list" data-cal-start="1363557600000" data-cal-end="1363644000000">

              <a href="http://www.example.com/" data-event-id="548" data-event-class="event-special"
                class="pull-left event event-special" data-toggle="tooltip" title=""
                data-original-title="This is special event"></a>

            </div>

            <div id="cal-day-tick" style="display: none;"><i
                class="icon-chevron-down glyphicon glyphicon-chevron-down"></i></div>
            <div id="cal-week-box" data-cal-week="2013-03-18" style="display: none;">Неделя 12</div>
          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day2">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-19" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">19</span>

            <div class="events-list" data-cal-start="1363644000000" data-cal-end="1363730400000">

              <a href="http://www.example.com/" data-event-id="54" data-event-class="" class="pull-left event "
                data-toggle="tooltip" title="" data-original-title="This is simple event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day3">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-20" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">20</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day4">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-21" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">21</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day5">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-22" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">22</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day6">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-23" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">23</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day7">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-24" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">24</span>

          </div>
        </div>
      </div>


      <div class="cal-row-fluid cal-before-eventlist">
        <div class="cal-cell1 cal-cell" data-cal-row="-day1">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-25" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">25</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day2">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-26" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">26</span>

            <div class="events-list" data-cal-start="1364248800000" data-cal-end="1364335200000">

              <a href="http://www.example.com/" data-event-id="295" data-event-class="event-important"
                class="pull-left event event-important" data-toggle="tooltip" title=""
                data-original-title="Event 3"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day3">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-27" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">27</span>

            <div class="events-list" data-cal-start="1364335200000" data-cal-end="1364421600000">

              <a href="http://www.example.com/" data-event-id="295" data-event-class="event-important"
                class="pull-left event event-important" data-toggle="tooltip" title=""
                data-original-title="Event 3"></a>

              <a href="http://www.example.com/" data-event-id="532" data-event-class="event-inverse"
                class="pull-left event event-inverse" data-toggle="tooltip" title=""
                data-original-title="This is inverse event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day4">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-28" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">28</span>

            <div class="events-list" data-cal-start="1364421600000" data-cal-end="1364508000000">

              <a href="http://www.example.com/" data-event-id="532" data-event-class="event-inverse"
                class="pull-left event event-inverse" data-toggle="tooltip" title=""
                data-original-title="This is inverse event"></a>

            </div>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day5">
          <div class="cal-month-day cal-day-inmonth">
            <span class="pull-right" data-cal-date="2013-03-29" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">29</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day6">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-30" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">30</span>

          </div>
        </div>
        <div class="cal-cell1 cal-cell" data-cal-row="-day7">
          <div class="cal-month-day cal-day-inmonth cal-day-weekend">
            <span class="pull-right" data-cal-date="2013-03-31" data-cal-view="day" data-toggle="tooltip" title=""
              data-original-title="">31</span>

          </div>
        </div>
      </div>


    </div>
  </div>

</div>


<!-- <div class="row">
  <div class="col-lg-4" *ngFor="let month of months; let i = index">

    <div class="card">
      <div class="card-header">
        {{month.firstDay.format('MMMM')}}
      </div>
      <div class="card-body">
        <div class="calendar__month">
          <div class="calendar__day-names">
            <div class="calendar__day-name" *ngFor="let name of namesOfDays">
              {{name}}
            </div>
          </div>
          <div class="calendar__weeks">
            <div class="calendar__week" *ngFor="let week of month.weeks">
              <ng-container *ngFor="let day of week">
                <div class="calendar__date" [ngClass]="{
                    'today': day.today,
                    'important': isImportant(month, day),
                    'important_done': isImportantDone(month, day),
                    'unimportant': isUnImportant(month, day),
                    'unimportant_done': isUnImportantDone(month, day),
                    'regular': isRegular(month, day),
                    'regular_done': isRegularDone(month, day),
                    'mixed': isMixed(month, day),
                    'mixed_all_done': isMixedAllDone(month, day),
                    'disabled': !isDayOfThisMonth(month, day.mDate)
                  }" (click)=" selectDate(day)">
                  <span class="calendar__number">{{day.mDate.date()}}</span>
                </div>
              </ng-container>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer">
        reminders for month
      </div>
    </div>

  </div>
</div> -->
