<div class="animated fadeIn">
  <!-- edit representative -->
  <div class="row">
    <div class="col-lg-11">
      <form [formGroup]="editRepresentativeForm" (ngSubmit)="onSubmit()" role="form">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
            Edit representative details
            <span class="float-right">
              <a class="btn btn-default btn-sm" [routerLink]="'/debtor/contracts'">
                <i class="fa fa-chevron-left"></i> Return to Contracts</a>
            </span>
          </div>
          <!-- card body -->
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name">Representative name</label>
              <div class="col-md-8">
                <input id="name" formControlName="name" type="text"
                  placeholder="enter representative name" autocomplete="name" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.name.errors, 'is-valid': submitted && !f.name.errors}">
                <div *ngIf="submitted && f.name.errors && f.name.errors.required"
                  class="invalid-feedback">
                  {{'representative.error.name.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="code">Representative code</label>
              <div class="col-md-8">
                <input id="code" formControlName="code" type="text"
                  placeholder="enter representative name" autocomplete="name" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.code.errors, 'is-valid': submitted && !f.code.errors}">
                <div *ngIf="submitted && f.code.errors && f.code.errors.required"
                  class="invalid-feedback">
                  {{'representative.error.code.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="position">Representative position</label>
              <div class="col-md-8">
                <input id="position" formControlName="position" type="text"
                  placeholder="enter representative position" autocomplete="work" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.position.errors, 'is-valid': submitted && !f.position.errors}">
                <div *ngIf="submitted && f.position.errors && f.position.errors.required"
                  class="invalid-feedback">
                  {{'representative.error.position.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="phone">Representative phone</label>
              <div class="col-md-8">
                <input id="phone" formControlName="phone" type="text"
                  placeholder="enter representative phone" autocomplete="tel" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.phone.errors, 'is-valid': submitted && !f.phone.errors}">
                <div *ngIf="submitted && f.phone.errors && f.phone.errors.required"
                  class="invalid-feedback">
                  {{'representative.error.phone.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="address">Representative address</label>
              <div class="col-md-8">
                <input id="address" formControlName="address" type="text"
                  placeholder="enter representative address" autocomplete="street-address" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.address.errors, 'is-valid': submitted && !f.address.errors}">
                <div *ngIf="submitted && f.address.errors && f.address.errors.required"
                  class="invalid-feedback">
                  {{'representative.error.address.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email">Representative address</label>
              <div class="col-md-8">
                <input id="email" formControlName="email" type="text"
                  placeholder="enter representative email" autocomplete="email" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.email.errors, 'is-valid': submitted && !f.email.errors}">
                <div *ngIf="submitted && f.email.errors && f.email.errors.required"
                  class="invalid-feedback">
                  {{'representative.error.address.required' | translate}}</div>
              </div>
            </div>
            <!-- card footer -->
            <div class="card-footer">
              <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
                Save</button>
              <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
            </div>
          </div>


        </div>
      </form>
    </div>
  </div>
</div>
