<div class="animated fadeIn">
  <!-- add new debt -->
  <form [formGroup]="addDebtForm" (ngSubmit)="onSubmit()" role="form">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <!-- card header -->
          <div class="card-header">
            <i class="fas fa-people-arrows fa-2x"></i>
            {{ 'debt.title' | translate }}
          </div>
          <!-- card body -->
          <div class="card-body">
            <!-- name -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name">{{ 'debt.name' | translate }}</label>
              <div class="col-md-6">
                <input id="name" formControlName="name" type="text" placeholder="{{ 'debt.placeholder_name' | translate }}"
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.name.errors, 'is-valid': submitted && !f.name.errors}">
                <div *ngIf="submitted && f.name.errors && f.name.errors.required" class="invalid-feedback">
                  {{'debt.error.name.required' | translate}}</div>
              </div>
              <span class="col-md-3"></span>
            </div>
            <!-- debt -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="debt">{{ 'debt.sum' | translate }}</label>
              <div class="col-md-6">
                <input id="debt" currencyMask formControlName="debt" type="tel" placeholder="{{ 'debt.placeholder_sum' | translate }}"
                  class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.debt.errors, 'is-valid': submitted && !f.debt.errors}">
                <div *ngIf="submitted && f.debt.errors && f.debt.errors.required" class="invalid-feedback">
                  {{'debt.error.sum.required' | translate}}</div>
              </div>
              <span class="col-md-3">EUR</span>
            </div>
            <!-- debt date -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="debtDate">{{ 'debt.date' | translate }}</label>
              <div class="col-md-8">
                <input id="debtDate" class="form-control" bsDatepicker formControlName="debtDate" placement="auto"
                  autocomplete="off" placeholder="{{ 'debt.placeholder_date' | translate }}"
                  [ngClass]="{'is-invalid': submitted && f.debtDate.errors, 'is-valid': submitted && !f.debtDate.errors}"
                  [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                <div *ngIf="submitted && f.debtDate.errors && f.debtDate.errors.required"
                  class="invalid-feedback">
                  {{'debt.error.date.required' | translate}}</div>
              </div>
            </div>

          </div>
          <!-- card footer -->
          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Занести долг</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Сбросить данные</button>
          </div>

        </div>
      </div>
    </div>

  </form>
</div>
