<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>Template</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let template of templateList; let i = index">
              <tr>
                <td class="toggle" (click)="toggle(templateList, i)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !template.visible,'fa-compress': template.visible}"></i>
                </td>
                <td>{{template.name}}</td>
                <td (click)="toggleNote(i)">
                  <p class="note-short-{{i}} resize_short">{{template.note | shortenText:maxLetters:' ...'}}</p>
                  <p class="d-none note-long-{{i}} resize_long">{{template.note}}</p>
                </td>

              </tr>
              <tr class="d-none row-num-{{i}}-template">
                <td *ngIf="template.visible" ng colspan="3">
                  <div [ngSwitch]="template.status">
                    <div *ngSwitchCase="'reminder_pay'"><app-reminder-pay [contract]="contract"></app-reminder-pay></div>
                    <div *ngSwitchCase="'warning_pay'"><app-warning-pay></app-warning-pay></div>
                    <div *ngSwitchCase="'debt_calculation'"><app-debt-calculation></app-debt-calculation></div>
                    <div *ngSwitchCase="'warning_pre_trial'"><app-warning-pre-trial></app-warning-pre-trial></div>
                    <div *ngSwitchCase="'claim_to_court'"><app-claim-to-court></app-claim-to-court></div>
                    <div *ngSwitchCase="'creditor_to_administrator'"><app-creditor-to-administrator></app-creditor-to-administrator></div>
                    <div *ngSwitchDefault></div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
