<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i aria-hidden="true" class="toggle fa fa-2x" (click)="visible =!visible"
          [ngClass]="{'fa-expand': !visible,'fa-compress': visible}"></i>
        <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>Templates</div>
      <div class="card-body" *ngIf="visible" [@inOutAnimation]>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let template of templateList; let i = index">
              <tr>
                <td class="toggle" (click)="toggle(templateList, i)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !template.visible,'fa-compress': template.visible}"></i>
                </td>
                <td>{{template.name}}</td>
                <td (click)="toggleNote(i)">
                  <p class="note-short-{{i}} resize_short">{{template.note | shortenText:maxLetters:' ...'}}</p>
                  <p class="d-none note-long-{{i}} resize_long">{{template.note}}</p>
                </td>
              </tr>
              <tr [ngSwitch]="template.status" class="d-none row-num-{{i}}-template">
                <td *ngSwitchCase="'reminder_pay'" colspan="3">
                  <app-reminder-pay [contract]="contract"></app-reminder-pay>
                </td>
                <td *ngSwitchCase="'warning_pay'" colspan="3">
                  <app-warning-pay [contract]="contract"></app-warning-pay>
                </td>
                <td *ngSwitchCase="'debt_calculation'" colspan="3">
                  <app-debt-calculation [contract]="contract"></app-debt-calculation>
                </td>
                <td *ngSwitchCase="'warning_pre_trial'" colspan="3">
                  <app-warning-pre-trial [contract]="contract"></app-warning-pre-trial>
                </td>
                <td *ngSwitchCase="'claim_to_court'" colspan="3">
                  <app-claim-to-court [contract]="contract"></app-claim-to-court>
                </td>
                <td *ngSwitchCase="'creditor_to_administrator'" colspan="3">
                  <app-creditor-to-administrator></app-creditor-to-administrator>
                </td>
                <td *ngSwitchDefault></td>

              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
