<div class="animated fadeIn">
  <!-- forgot user password -->
  <div class="app-body padding_top">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" role="form">
              <div class="card mx-4">
                <div *ngIf="!message_after_send" class="card-body p-4">

                  <h1>Forgot password?</h1>
                  <p class="text-muted">Change your password in three easy steps.</p>
                  <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link
                    </li>
                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                  </ol>
                  <!--email -->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control"
                      [ngClass]="{'is-invalid': submitted && f.email.errors, 'is-valid': submitted && !f.email.errors}"
                      placeholder="{{'register.input.email' | translate}}Enter your email address" autocomplete="email"
                      formControlName="email">
                    <div *ngIf="submitted && f.email.errors && f.email.errors.required" class="invalid-feedback">
                      {{'register.error.email.required' | translate}}</div>
                    <div *ngIf="submitted && f.email.errors && f.email.errors.email" class="invalid-feedback">
                      {{'register.error.email.notvalid' | translate}}</div>
                  </div>
                  <!-- submit -->
                  <button [disabled]="loading" type="submit" class="btn btn-block btn-success">Get New Password</button>
                  <!-- go signup -->
                  <div class="row" [@inOutAnimation]>
                    <div class="col-6"><a [routerLink]="'/auth/signup'">No account? Go signup!</a></div>
                    <div class="col-6"></div>
                  </div>
                </div>
                <div *ngIf="message_after_send">
                  <div class="card-footer p-4" [@bgColorAnimation]>
                    {{message_after_send}}
                  </div>
                  <div class="row">
                    <div class="col-6"> </div>
                    <div class="col-6"><a [routerLink]="'/auth/login'">Go to login page</a></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
