<!-- show represantives for debtor contract -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i aria-hidden="true" class="toggle fa fa-2x" (click)="visible =!visible"
          [ngClass]="{'fa-expand': !visible,'fa-compress': visible}"></i>
        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>Representatives ({{count}})
        <span class="float-right">
          <button class="btn" [routerLink]="'/add/representative'">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Representative
          </button>
        </span>
      </div>
      <div class="card-body" *ngIf="visible" [@inOutAnimation]>
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th></th>
              <th>First Name Last Name</th>
              <th>Personal code</th>
              <th>Position</th>
              <th>Telephone</th>
              <th>Address</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let representative of representativesList">
              <tr>
                <td class="toggle" (click)="toggle(representative.id)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !representative.visible,'fa-compress': representative.visible}"></i>
                </td>
                <td [ngClass]="{'to-delete': representative.toDelete}">{{representative.name}}</td>
                <td [ngClass]="{'to-delete': representative.toDelete}">{{representative.code}}</td>
                <td [ngClass]="{'to-delete': representative.toDelete}">{{representative.position}}</td>
                <td [ngClass]="{'to-delete': representative.toDelete}">{{representative.phone}}</td>
                <td [ngClass]="{'to-delete': representative.toDelete}">{{representative.address}}</td>
                <td [ngClass]="{'to-delete': representative.toDelete}">{{representative.email}}</td>
              </tr>
              <tr *ngIf="representative.visible" >
                <td class="no-top-border" colspan="7">
                  <button class="btn" (click)="notifyDeleteRepresentative(representative)"><i class="fa fa-trash"></i> Trash</button>
                  <button class="btn" (click)="editRepresentative(representative)"><i class="fa fa-pencil-square-o"></i>
                    Edit</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
