<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i aria-hidden="true" class="toggle fa fa-2x" (click)="visible =!visible"
          [ngClass]="{'fa-expand': !visible,'fa-compress': visible}"></i>
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i> Guarantors ({{count}})
        <span class="float-right">
          <button class="btn" [routerLink]="'/add/guarantor'">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add guarantor
          </button>
        </span>
      </div>
      <div class="card-body" *ngIf="visible" [@inOutAnimation]>
        <table class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th></th>
              <th>First Name Last Name</th>
              <th>Personal code</th>
              <th>Telephone</th>
              <th>Address</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let guarantor of guarantorsList">
              <tr>
                <td class="toggle" (click)="toggle(guarantor.id)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !guarantor.visible,'fa-compress': guarantor.visible}"></i>
                </td>
                <td [ngClass]="{'to-delete': guarantor.toDelete}">{{guarantor.name}}</td>
                <td [ngClass]="{'to-delete': guarantor.toDelete}">{{guarantor.code}}</td>
                <td [ngClass]="{'to-delete': guarantor.toDelete}">{{guarantor.phone}}</td>
                <td [ngClass]="{'to-delete': guarantor.toDelete}">{{guarantor.address}}</td>
                <td [ngClass]="{'to-delete': guarantor.toDelete}">{{guarantor.email}}</td>
              </tr>
              <tr *ngIf="guarantor.visible">
                <td class="no-top-border" colspan="7">
                  <button class="btn" (click)="notifyDeleteGuarantor(guarantor)"><i class="fa fa-trash"></i>
                    Trash</button>
                  <button class="btn" (click)="editGuarantor(guarantor)"><i class="fa fa-pencil-square-o"></i>
                    Edit</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
