<div class="row">
  <div class="col-lg-11">
    <form [formGroup]="creditorToAdministratorForm" (ngSubmit)="onSubmit()" role="form">
      <div class="card">
        <div class="card-header"><strong><i class="fa fa-info-circle" aria-hidden="true"></i>Additional</strong> <small>
            Information</small>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6 tags p-b-2">
              <div class="card-body">

                <div class="form-group">
                  <label for="creditorToAdministratorPlace">Place of writing the document</label>
                  <input class="form-control" id="creditorToAdministratorPlace" formControlName="place" type="text"
                    placeholder="Enter place" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.place.errors, 'is-valid': submitted && !f.place.errors}">
                  <div *ngIf="submitted && f.place.errors && f.place.errors.required" class="invalid-feedback">
                    {{'template.error.place.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="creditorToAdministratorlNumber">Internal registration number</label>
                  <input class="form-control" id="creditorToAdministratorlNumber" formControlName="number" type="text"
                    placeholder="Enter registration number" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.number.errors, 'is-valid': submitted && !f.number.errors}">
                  <div *ngIf="submitted && f.number.errors && f.number.errors.required" class="invalid-feedback">
                    {{'template.error.number.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="insolvencyDate">Date of the insolvency</label>
                  <input id="insolvencyDate" class="form-control" bsDatepicker formControlName="insolvencyDate"
                    placement="top"
                    [ngClass]="{'is-invalid': submitted && f.insolvencyDate.errors, 'is-valid': submitted && !f.insolvencyDate.errors}"
                    [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                  <div *ngIf="submitted && f.insolvencyDate.errors && f.insolvencyDate.errors.required"
                    class="invalid-feedback">
                    {{'template.error.insolvencyDate.required' | translate}}</div>
                </div>

              </div>
            </div>

            <div class="col-lg-4 offset-lg-1">
              <div class="card-body">

                <div class="form-group">
                  <label for="creditorToAdministratorDate">Date of the document</label>
                  <input id="creditorToAdministratorDate" class="form-control" bsDatepicker formControlName="creditorToAdministratorDate"
                    placement="top"
                    [ngClass]="{'is-invalid': submitted && f.creditorToAdministratorDate.errors, 'is-valid': submitted && !f.creditorToAdministratorDate.errors}"
                    [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                  <div *ngIf="submitted && f.creditorToAdministratorDate.errors && f.creditorToAdministratorDate.errors.required"
                    class="invalid-feedback">
                    {{'template.error.creditorToAdministratorDate.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="creditorToAdministratorDebtBasis">Debt basis</label>
                  <select formControlName="basis" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.basis.errors, 'is-valid': submitted && !f.basis.errors}"
                    id="creditorToAdministratorDebtBasis">
                    <option [ngValue]="null" disabled>{{'select.basis' | translate}}</option>
                    <option [value]="basis" *ngFor="let basis of debtorBasis | enumToArray">
                      {{ 'basis.long.'+basis | translate}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.basis.errors && f.basis.errors.required" class="invalid-feedback">
                    {{'debtor.error.basis.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="insolvencyRegisterEntryDate">Date of entry in the Register</label>
                  <input id="insolvencyRegisterEntryDate" class="form-control" bsDatepicker formControlName="insolvencyRegisterEntryDate"
                    placement="top"
                    [ngClass]="{'is-invalid': submitted && f.insolvencyRegisterEntryDate.errors, 'is-valid': submitted && !f.insolvencyRegisterEntryDate.errors}"
                    [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                  <div *ngIf="submitted && f.insolvencyRegisterEntryDate.errors && f.insolvencyRegisterEntryDate.errors.required"
                    class="invalid-feedback">
                    {{'template.error.insolvencyRegisterEntryDate.required' | translate}}</div>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-2">
              <div class="card-body">
<label>Administrator</label>


              </div>
            </div>

            <div class="col-lg-8">
              <div class="card-body">

                <div class="form-group">
                  <label for="administratorName">Name</label>
                  <input class="form-control" id="administratorName" formControlName="administratorName" type="text"
                    placeholder="Enter administrator name" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.administratorName.errors, 'is-valid': submitted && !f.administratorName.errors}">
                  <div *ngIf="submitted && f.administratorName.errors && f.administratorName.errors.required" class="invalid-feedback">
                    {{'template.error.administratorName.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="administratorNumber">Number</label>
                  <input class="form-control" id="administratorNumber" formControlName="administratorNumber" type="text"
                    placeholder="Enter administrator number" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.administratorNumber.errors, 'is-valid': submitted && !f.administratorNumber.errors}">
                  <div *ngIf="submitted && f.administratorNumber.errors && f.administratorNumber.errors.required" class="invalid-feedback">
                    {{'template.error.administratorNumber.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="administratorAddress">Address</label>
                  <input class="form-control" id="administratorAddress" formControlName="administratorAddress" type="text"
                    placeholder="Enter administrator address" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.administratorAddress.errors, 'is-valid': submitted && !f.administratorAddress.errors}">
                  <div *ngIf="submitted && f.administratorAddress.errors && f.administratorAddress.errors.required" class="invalid-feedback">
                    {{'template.error.administratorAddress.required' | translate}}</div>
                </div>

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-10">
              <div class="card-body">
                <label>In the attachment</label>
                <div formArrayName="attachments"
                  *ngFor="let attachment of attachments.controls; let attachmentIndex=index">
                  <div [formGroupName]="attachmentIndex" class="form-group">
                    <span class="float-right">
                      <button class="btn-ghost-danger" (click)="deleteAttachment(attachmentIndex)" type="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </span>
                    <input class="form-control" id="attachmentName-{{attachmentIndex}}" type="text"
                      placeholder="Enter attachment name" formControlName="name" pattern="[^' ']+"
                      [ngClass]="{'is-invalid': submitted && attachment.controls.name.errors, 'is-valid': submitted && !attachment.controls.name.errors}">
                    <div *ngIf="submitted && attachment.controls.name.errors && attachment.controls.name.errors.required"
                      class="invalid-feedback">
                      {{'template.error.attachment.required' | translate}}</div>
                  </div>
                </div>
                <button class="btn" (click)="addAttachment()" type="button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Attachment
                </button>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="form-group">
              <div class="form-check checkbox">
                <input class="form-check-input" id="saveCreditorToAdministratorDoc" formControlName="saveDoc" type="checkbox">
                <label class="form-check-label" for="saveCreditorToAdministratorDoc">Save to my docs</label>
              </div>
            </div>

            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Create</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
