<div class="animated fadeIn">
  <!-- add new guarantor -->
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="addGuarantorForm" (ngSubmit)="onSubmit()" role="form">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
            New guarantor details
            <span class="float-right">
              <a class="btn btn-default btn-sm" [routerLink]="'/debtor/contracts'">
                <i class="fa fa-chevron-left"></i> Return to Contracts</a>
            </span>
          </div>
          <!-- card body -->
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="name">Guarantor name</label>
              <div class="col-md-8">
                <input id="name" formControlName="name" type="text" placeholder="enter guarantor name"
                  autocomplete="name" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.name.errors, 'is-valid': submitted && !f.name.errors}">
                <div *ngIf="submitted && f.name.errors && f.name.errors.required" class="invalid-feedback">
                  {{'guarantor.error.name.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="code">Guarantor code</label>
              <div class="col-md-8">
                <input id="code" formControlName="code" type="text" placeholder="enter guarantor code"
                  autocomplete="name" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.code.errors, 'is-valid': submitted && !f.code.errors}">
                <div *ngIf="submitted && f.code.errors && f.code.errors.required" class="invalid-feedback">
                  {{'guarantor.error.code.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="phone">Guarantor phone</label>
              <div class="col-md-8">
                <input id="phone" formControlName="phone" type="text" placeholder="enter guarantor phone"
                  autocomplete="tel" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.phone.errors, 'is-valid': submitted && !f.phone.errors}">
                <div *ngIf="submitted && f.phone.errors && f.phone.errors.required" class="invalid-feedback">
                  {{'guarantor.error.phone.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="address">Guarantor address</label>
              <div class="col-md-8">
                <input id="address" formControlName="address" type="text" placeholder="enter guarantor address"
                  autocomplete="street-address" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.address.errors, 'is-valid': submitted && !f.address.errors}">
                <div *ngIf="submitted && f.address.errors && f.address.errors.required" class="invalid-feedback">
                  {{'guarantor.error.address.required' | translate}}</div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="email">Guarantor email</label>
              <div class="col-md-8">
                <input id="email" formControlName="email" type="text" placeholder="enter guarantor email"
                  autocomplete="email" class="form-control"
                  [ngClass]="{'is-invalid': submitted && f.email.errors, 'is-valid': submitted && !f.email.errors}">
                <div *ngIf="submitted && f.email.errors && f.email.errors.required" class="invalid-feedback">
                  {{'guarantor.error.address.required' | translate}}</div>
              </div>
            </div>
          </div>

          <!-- card footer -->
          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Create</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
