<div class="row">
  <div class="col-lg-11">
    <form [formGroup]="claimToCourtForm" (ngSubmit)="onSubmit()" role="form">
      <div class="card">
        <div class="card-header"><strong><i class="fa fa-info-circle" aria-hidden="true"></i>Additional</strong> <small>
            Information</small>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-lg-6 tags p-b-2">
              <div class="card-body">
                <div class="form-group">
                  <label for="claimToCourtPlace">Place of writing the document</label>
                  <input class="form-control" id="claimToCourtPlace" formControlName="place" type="text"
                    placeholder="Enter place" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.place.errors, 'is-valid': submitted && !f.place.errors}">
                  <div *ngIf="submitted && f.place.errors && f.place.errors.required" class="invalid-feedback">
                    {{'template.error.place.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="claimToCourtlNumber">Internal registration number</label>
                  <input class="form-control" id="claimToCourtlNumber" formControlName="number" type="text"
                    placeholder="Enter registration number" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.number.errors, 'is-valid': submitted && !f.number.errors}">
                  <div *ngIf="submitted && f.number.errors && f.number.errors.required" class="invalid-feedback">
                    {{'template.error.number.required' | translate}}</div>
                </div>

              </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
              <div class="card-body">
                <div class="form-group">
                  <label for="claimToCourtDate">Date of the document</label>
                  <input id="claimToCourtDate" class="form-control" bsDatepicker formControlName="claimToCourtDate"
                    placement="top"
                    [ngClass]="{'is-invalid': submitted && f.claimToCourtDate.errors, 'is-valid': submitted && !f.claimToCourtDate.errors}"
                    [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
                  <div *ngIf="submitted && f.claimToCourtDate.errors && f.claimToCourtDate.errors.required"
                    class="invalid-feedback">
                    {{'template.error.claimToCourtDate.required' | translate}}</div>
                </div>

                <div class="form-group">
                  <label for="claimToCourtsDebtBasis">Debt basis</label>
                  <select formControlName="basis" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f.basis.errors, 'is-valid': submitted && !f.basis.errors}"
                    id="claimToCourtsDebtBasis">
                    <option [ngValue]="null" disabled>{{'select.basis' | translate}}</option>
                    <option [value]="basis" *ngFor="let basis of debtorBasis | enumToArray">
                      {{ 'basis.long.'+basis | translate}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.basis.errors && f.basis.errors.required" class="invalid-feedback">
                    {{'debtor.error.basis.required' | translate}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-8">
              <div class="card-body">
                <div *ngIf="(contract.with_agreement + '') == '1'" class="form-group">
                  <label for="claimToCourts">Court</label>
                  <select formControlName="court" class="form-control" (ngModelChange)="selectCourt($event)"
                    [ngClass]="{'is-invalid': submitted && f.court.errors, 'is-valid': submitted && !f.court.errors}"
                    id="claimToCourts">
                    <option [ngValue]="null" disabled>{{'select.court' | translate}}</option>
                    <option [value]="court" *ngFor="let court of courts | enumToArray">
                      {{ 'court.long.'+court | translate}}
                    </option>
                  </select>
                  <div *ngIf="submitted && f.court.errors && f.court.errors.required" class="invalid-feedback">
                    {{'debtor.error.court.required' | translate}}</div>
                </div>

                <div class="form-group" *ngIf="(selectedCourt + '') === 'state' || (contract.with_agreement + '') == '0'">
                  <label for="claimToCourtName">Name of court</label>
                  <input class="form-control" id="claimToCourtName" formControlName="courtName" type="text"
                    placeholder="Enter court name" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.courtName.errors, 'is-valid': submitted && !f.courtName.errors}">
                  <div *ngIf="submitted && f.courtName.errors && f.courtName.errors.required" class="invalid-feedback">
                    {{'template.error.courtName.required' | translate}}</div>
                </div>

                <div class="form-group" *ngIf="(selectedCourt + '') === 'state' || (contract.with_agreement + '') == '0'">
                  <label for="claimToCourtAddress">Address of court</label>
                  <input class="form-control" id="claimToCourtAddress" formControlName="courtAddress" type="text"
                    placeholder="Enter court address" pattern="[^' ']+"
                    [ngClass]="{'is-invalid': submitted && f.courtAddress.errors, 'is-valid': submitted && !f.courtAddress.errors}">
                  <div *ngIf="submitted && f.courtAddress.errors && f.courtAddress.errors.required"
                    class="invalid-feedback">
                    {{'template.error.courtAddress.required' | translate}}</div>
                </div>

              </div>
            </div>

            <div class="col-lg-4">
              <div class="card-body">
                <div class="form-group" *ngIf="(selectedCourt + '') === 'arbitration' && (contract.with_agreement + '') == '1'">
                  <label for="claimToCourtJudgesNumber">Number of judges</label>
                  <input class="form-control" id="claimToCourtJudgesNumber" formControlName="judgesNumber" type="number"
                    placeholder="Enter number"
                    [ngClass]="{'is-invalid': submitted && f.judgesNumber.errors, 'is-valid': submitted && !f.judgesNumber.errors}">
                  <div *ngIf="submitted && f.judgesNumber.errors && f.judgesNumber.errors.required"
                    class="invalid-feedback">
                    {{'template.error.judgesNumber.required' | translate}}</div>
                  <div *ngIf="submitted && f.judgesNumber.errors && f.judgesNumber.errors.min" class="invalid-feedback">
                    {{'template.error.judgesNumber.min.required' | translate}}</div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-10">
              <div class="card-body">
                <label>In the attachment</label>
                <div formArrayName="attachments"
                  *ngFor="let attachment of attachments.controls; let attachmentIndex=index">
                  <div [formGroupName]="attachmentIndex" class="form-group">
                    <span class="float-right">
                      <button class="btn-ghost-danger" (click)="deleteAttachment(attachmentIndex)" type="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                    </span>
                    <input class="form-control" id="attachmentName-{{attachmentIndex}}" type="text"
                      placeholder="Enter attachment name" formControlName="name" pattern="[^' ']+"
                      [ngClass]="{'is-invalid': submitted && attachment.controls.name.errors, 'is-valid': submitted && !attachment.controls.name.errors}">
                    <div *ngIf="submitted && attachment.controls.name.errors && attachment.controls.name.errors.required"
                      class="invalid-feedback">
                      {{'template.error.attachment.required' | translate}}</div>
                  </div>
                </div>
                <button class="btn" (click)="addAttachment()" type="button">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                  Attachment
                </button>
              </div>
            </div>

            <!-- <div class="col-lg-2">
              <div class="card-body">
                <label *ngIf="attachments.controls.length > 0">Delete</label>
                <div formArrayName="attachments"
                  *ngFor="let attachment of attachments.controls; let attachmentIndex=index">
                  <div [formGroupName]="attachmentIndex" class="form-group">
                    <button class="btn-outline-danger" (click)="deleteAttachment(attachmentIndex)" type="button">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="card-footer">
            <div class="form-group">
              <div class="form-check checkbox">
                <input class="form-check-input" id="saveClaimToCourtDoc" formControlName="saveDoc" type="checkbox">
                <label class="form-check-label" for="saveClaimToCourtDoc">Save to my docs</label>
              </div>
            </div>

            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Create</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
