// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

// Snotify toast style
@import "~ng-snotify/styles/simple";

// date picker
@import "~ngx-bootstrap/datepicker/bs-datepicker.scss";


// toggle block
.toggle {
  width: 25px;
  cursor: pointer;
}

// marked to delete
.to-delete {
  color: #f1060696;
}

.btn {
  padding-left: 25px;
  font-size: 14px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(238, 236, 231);
}
// ~
