<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"><i class="fa fa-users fa-2x" aria-hidden="true"></i> Debtors list ({{count}})
        <span class="float-right">
          <button class="btn" (click)="addDebtor()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Add debtor
          </button>
        </span>
      </div>
      <div class="card-body">
        <table id="debtors" class="table table-responsive-sm table-sm">
          <thead>
            <tr>
              <th></th>
              <th (click)="sortCompanyName()" class="cursor_default">Debtorname
                <i class="fa fa-chevron-up" *ngIf="sortCompanyNameDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" *ngIf="sortCompanyNameDirection === 'desc'"></i>
              </th>
              <th (click)="sortRegisterDate()" class="cursor_default">Date registered
                <i class="fa fa-chevron-up" *ngIf="sortRegisterDateDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" *ngIf="sortRegisterDateDirection === 'desc'"></i>
              </th>
              <th (click)="sortDebt()" class="cursor_default">Debt
                <i class="fa fa-chevron-up" *ngIf="sortDebtDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" *ngIf="sortDebtDirection === 'desc'"></i>
              </th>
              <th (click)="sortStatus()" class="cursor_default">Status
                <i class="fa fa-chevron-up" *ngIf="sortStatusDirection === 'asc'"></i>
                <i class="fa fa-chevron-down" *ngIf="sortStatusDirection === 'desc'"></i>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let debtor of pagedDebtorsList; let i = index">
              <tr>
                <td class="toggle" (click)="toggle(pagedDebtorsList, i)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !debtor.visible,'fa-compress': debtor.visible}"></i>
                </td>
                <td>{{debtor.company}}</td>
                <td>{{debtor.created_at | date: 'y. d MMMM':'IST':'lv'}}</td>
                <td>{{debtor.debt}}</td>
                <td (click)="selectStatuses(debtor.status)">
                  <span class="badge" style="cursor: pointer;"
                    [ngClass]="{'badge-light': debtor.status.toString() === 'awaiting', 'badge-primary': debtor.status.toString() === 'in_work', 'badge-success': debtor.status.toString() === 'debt_collected', 'badge-secondary': debtor.status.toString() === 'to_sue', 'badge-info': debtor.status.toString() === 'in_court', 'badge-warning': debtor.status.toString() === 'hopeless', 'badge-danger': debtor.status.toString() === 'insolvency'}">
                    {{ 'status.short.'+ debtor.status | translate}}
                  </span>
                </td>
              </tr>
              <tr class="d-none row-num-{{i}}">
                <ng-container *ngIf="debtor.visible">
                  <td colspan="3">
                    <button class="btn" (click)="contracts(debtor)"><i class="fa fa-file-text-o"></i> Contracts</button>
                    <button class="btn"><i class="fa fa-eye"></i> Details</button>
                  </td>
                  <td colspan="2">
                    <button class="btn"><i class="fa fa-pencil-square-o"></i> Edit</button>
                    <button class="btn"><i class="fa fa-trash"></i> Trash</button>
                    <!-- <button class="btn"><i class="fa fa-tasks"></i> Tasks</button> -->
                  </td>
                </ng-container>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav>
          <pagination [totalItems]="count" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" class="pagination-sm"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
            [rotate]="false" (numPages)="numPages = $event"></pagination>
        </nav>
        <pre class="card card-body card-header">Page: {{currentPage}} / {{numPages}}</pre>
      </div>
    </div>
  </div>
</div>
