<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header"> Debtors list</div>
      <div class="card-body">
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th></th>
              <th>Debtorname</th>
              <th>Date registered</th>
              <th>Debt</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let debtor of debtorsList; let i = index">
              <tr>
                <td class="toggle" (click)="toggle(debtorsList, i)">
                  <i aria-hidden="true" class="fa"
                    [ngClass]="{'fa-expand': !debtor.visible,'fa-compress': debtor.visible}"></i>
                </td>
                <td>{{debtor.company}}</td>
                <td>{{debtor.created_at | date}}</td>
                <td>{{debtor.debt}}</td>
                <td>
                  <span class="badge" [ngClass]="{'badge-light': debtor.status === 'awaiting', 'badge-primary': debtor.status === 'in_work', 'badge-success': debtor.status === 'debt_collected', 'badge-secondary': debtor.status === 'to_sue', 'badge-info': debtor.status === 'in_court', 'badge-warning': debtor.status === 'hopeless', 'badge-danger': debtor.status === 'insolvency'}">
                    {{ 'status.short.'+ debtor.status | translate}}
                  </span></td>
              </tr>
              <tr class="d-none row-num-{{i}}">
                <td *ngIf="debtor.visible" colspan="5">
                  <button class="btn"><i class="fa fa-trash"></i> Trash</button>
                  <button class="btn"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  <button class="btn"><i class="fa fa-eye"></i> Details</button>
                  <button class="btn"><i class="fa fa-tasks"></i> Tasks</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
