<div class="row">
  <div class="col-lg-4">
    <form [formGroup]="reminderPayForm" (ngSubmit)="onSubmit()" role="form">
      <div class="card">
        <div class="card-header"><strong><i class="fa fa-info-circle" aria-hidden="true"></i>Additional</strong> <small>
            Information</small></div>
        <div class="card-body">
          <div class="form-group">
            <label for="place">Place of writing the document</label>
            <input class="form-control" id="place" formControlName="place" type="text" placeholder="Enter place"
              [ngClass]="{'is-invalid': submitted && f.place.errors, 'is-valid': submitted && !f.place.errors}">
            <div *ngIf="submitted && f.place.errors && f.place.errors.required" class="invalid-feedback">
              {{'template.error.place.required' | translate}}</div>
          </div>

          <div class="form-group">
            <label for="number">Internal registration number</label>
            <input class="form-control" id="number" formControlName="number" type="text"
              placeholder="Enter registration number"
              [ngClass]="{'is-invalid': submitted && f.number.errors, 'is-valid': submitted && !f.number.errors}">
            <div *ngIf="submitted && f.number.errors && f.number.errors.required" class="invalid-feedback">
              {{'template.error.number.required' | translate}}</div>
          </div>

          <div class="form-group">
            <label for="days">Number of days to pay a debt</label>
            <input class="form-control" id="days" formControlName="days" type="text" placeholder="Enter number of days"
              [ngClass]="{'is-invalid': submitted && f.days.errors, 'is-valid': submitted && !f.days.errors}">
            <div *ngIf="submitted && f.days.errors && f.days.errors.required" class="invalid-feedback">
              {{'template.error.days.required' | translate}}</div>
          </div>

          <div class="form-group">
            <label for="remindDate">Date of the document</label>
            <input id="remindDate" class="form-control" bsDatepicker formControlName="remindDate"
            [ngClass]="{'is-invalid': submitted && f.remindDate.errors, 'is-valid': submitted && !f.remindDate.errors}"
              [bsConfig]="{ dateInputFormat: 'YYYY. Do MMMM', isAnimated: true,  containerClass:'theme-blue' }">
              <div *ngIf="submitted && f.remindDate.errors && f.remindDate.errors.required" class="invalid-feedback">
                {{'template.error.remindDate.required' | translate}}</div>
          </div>

          <div class="form-group">
            <div class="form-check checkbox">
              <input class="form-check-input" id="save" type="checkbox" value="">
              <label class="form-check-label" for="save">Save to my docs</label>
            </div>
          </div>


          <div class="card-footer">
            <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
              Create</button>
            <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
