<div class="app-body padding_top">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="panel widget">
            <div class="panel-body">
              <div class="login-icon"> <i class="fas fa-sign-out-alt"></i> </div>
              <h1 class="font-semibold text-center" style="font-size:52px">{{ 'user.logout.title' | translate }}</h1>

              <div class="form-group">
                <div class="col-md-12">
                  <h4 class="text-center mgbt-xs-20">{{ 'user.logout.thank' | translate }}</h4>
                  <p class="text-center"> {{ 'user.logout.please' | translate }} <a
                      [routerLink]="['/auth/login']">{{ 'user.logout.click' | translate }}</a>
                    {{ 'user.logout.back' | translate }}</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
