<div class="animated fadeIn">
    <!-- add new document -->
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="addDocumentForm" (ngSubmit)="onSubmit()" role="form">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-paperclip fa-rotate-270 fa-2x" aria-hidden="true"></i> New document details
                        <span class="float-right">
                            <a class="btn btn-default btn-sm" [routerLink]="'/debtor/contracts'">
                                <i class="fa fa-chevron-left"></i> Return to Contracts</a>
                        </span>
                    </div>
                    <!-- card body -->
                    <div class="card-body">
                        <div class="form-group row">

                            <!-- document name -->
                            <label class="col-md-3 col-form-label" for="name">Document name</label>
                            <div class="col-md-8">
                                <input id="name" formControlName="name" type="text" placeholder="{{'document.enter.name' | translate}}" autocomplete="name" class="form-control" [ngClass]="{'is-invalid': submitted && f.name.errors, 'is-valid': submitted && !f.name.errors}">
                                <div *ngIf="submitted && f.name.errors && f.name.errors.required" class="invalid-feedback">
                                    {{'document.error.name.required' | translate}}</div>
                            </div>

                            <!--choose file
                            https://stackoverflow.com/questions/47936183/angular-file-upload
                            https://github.com/merlosy/ngx-material-file-input


                            -->
                            <label class="col-md-3 col-form-label" for="file">Choose file</label>
                            <!-- <div class="col-md-8">
                                <input id="file" formControlName="file" type="file" placeholder="{{'document.enter.name' | translate}}" autocomplete="off" class="form-control" [ngClass]="{'is-invalid': submitted && f.file.errors, 'is-valid': submitted && !f.file.errors}">
                                <div *ngIf="submitted && f.file.errors && f.file.errors.required" class="invalid-feedback">
                                    {{'document.error.file.required' | translate}}</div>
                            </div> -->
                            <div class="col-md-8">
                              <label class="btn btn-default">
                                <input type="file" (change)="selectFile($event)" />
                              </label>
                              <button class="btn btn-success" [disabled]="!selectedFiles" (click)="uploadFile()">
                                Upload
                              </button>
                              <div class="alert alert-light" role="alert">{{ message }}</div>
                            </div>
                            <!-- file upload progress time line -->
                            <div *ngIf="currentFile" class="progress col-md-12">
                              <div
                                class="progress-bar progress-bar-info progress-bar-striped"
                                role="progressbar"
                                attr.aria-valuenow="{{ progress }}"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                [ngStyle]="{ width: progress + '%' }"
                              >
                                {{ progress }}%
                              </div>
                            </div>
                        </div>
                    </div>

                    <!-- card footer -->
                    <div class="card-footer">
                        <button [disabled]="loading" class="btn btn-sm btn-primary" type="submit">
                            Create</button>
                        <button [disabled]="loading" class="btn btn-sm btn-warning" type="reset">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
